@import "./src/style/styles.scss";

.cart-page {
  min-height: 80vh;

  .main__content {
    padding-bottom: 34px;
    border-bottom: 1px solid $red-color;

    &--not-item {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
    }
  }

  .main__total {
    margin-bottom: 54px;

    &--content {
      margin-top: 20px;
      display: flex;
      justify-content: end;
      font-size: 1.8rem;

      p {
        margin-left: 20px;
      }
    }
  }
}
