@import "./src/style/styles";

.search-page {
  margin: 24px;
  min-height: 80vh;

  &__title {
    margin: 12px 0;
    font-size: 1.8rem;
  }

  &__category {
    &--item {
      margin: 10px 0;
      font-size: 1.6rem;
    }
  }
}

.search-page__category--item.active {
  font-weight: 600;
  text-decoration: underline;
}