@import "./src/style/styles.scss";

.home {
  margin-bottom: 30px;

  .ant-tabs-tab {
    font-size: 3rem;
    color: $text-gray;
  }

  &__sale {
    margin: 34px 0px;
    text-align: center;

    img {
      display: block;
      margin: auto;
    }

    &--tag {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      color: $text-gray;

      li {
        margin-right: 16px;
        cursor: pointer;
      }
    }

    &--content {
      font-size: 4rem;
      color: $text-color;
    }
  }
}
